[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pre-commit = "*"
openpyxl = "*"
xlsxwriter = "*"
pandas = "*"
pillow = "*"
pywin32 = {version = "*", sys_platform = "== 'win32'"}
setuptools = "*"
pyxlsb = "*"
xlrd = "*"
unoconv = "*"
odfpy = "*"
beautifulsoup4 = "*"
requests = "*"

[dev-packages]
flake8 = "*"
black = "*"
pyinstaller = "*"
pefile = "*"
pywin32-ctypes = {version = "*", sys_platform = "== 'win32'"}
unknown = {editable = true, path = "."}

[pipenv]
allow_prereleases = true
